@import '../global.scss';

.Team05{
    //@include mediumPageSize();
    background-color: $lightgrey;

    display: flex;
    flex-direction: column;
    width: 100%;

    overflow: hidden;
    padding-top: 30px;

    .Team05head{
        //@include addborder(red);
        display: flex;
        justify-content: center;
        
        .Team05headWrapper{
            //@include addborder(blue);
            @include h1size();
            position: inherit;

            @include responsiveMin(margin, 50px, 60px, 70px, 80px, 90px);

            @include responsiveMin(width, 300px, 350px, 400px, 450px, 500px);
            
        }
    }

    .Team05body{
        //@include addborder(black,dashed);
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        .Team05bodyWrapper{
            position: inherit;
            width: 100%;
            //overflow-x: hidden;
            //background-color: grey;

            .Team05bodyWrapperItemsWrapper{
                position: relative;
                display: inline-flex;
                //justify-content: space-between;
                width: 100%;
                animation: carouselTeam 6s ease-in-out both infinite alternate-reverse;
                margin-bottom: 80px;
                //@include addborder(red);

                &:hover{
                    animation-play-state: paused;
                }

                @keyframes carouselTeam{
                    0%{
                        transform: translateX(0%);
                    }
                    100%{
                        transform: translateX(-25%);
                    }
                }
                
                .Team05bodyWrapperItem{
                    //@include addborder(cyan);
                    position: relative;
                    padding: 15px;
                    min-width: 25%;
                    max-width: 25%;
                    box-sizing: border-box;
                    cursor: pointer;

                    &:hover{
                        .Team05bodyWrapperItemBox{
                            .thePhoto{
                                box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.25);
                                border-radius: 20px;
                            }
                            .theTitle{
                                text-shadow: 0px 0px 2px rgba(0,0,0,0.25) !important;
                            }
                            .theJob{
                                text-shadow: 0px 0px 2px rgba(0,0,0,0.25) !important;
                            }
                        }
                    }
                    
                    .Team05bodyWrapperItemBox{
                        position: relative;
                        width: 100%;
                        //height: 500px;
                        text-align: left;
                        
                        .thePhoto{
                            position: relative;
                            width: 100%;
                            height: 400px;

                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;

                            border-radius: 20px;
                            margin-top: 10px;
                            margin-bottom: 7.5%;

                            @include responsiveMax(height, 400px, 350px, 300px, 240px, 200px, 160px);
                            @include responsiveMin(height, 400px, 450px, 500px, 550px, 600px);

                            
                        }
                        .theTitle{
                            color: $black;
                            margin-bottom: 10px;
                            font-size: 1.16em;
                            font-weight: 600 !important;

                            @include responsiveMax(margin-bottom, 10px, 8px, 6px, 4px, 2px, 0px);
                            @include responsiveMin(margin-bottom, 10px, 12px, 14px, 16px, 18px);
                        }
                        .theJob{
                            color: $blue;
                            font-weight: 600 !important;
                        }
                    }

                }
            }
        }
    }
}