@import '../global.scss';

.Blog04{
    //@include mediumPageSize();

    @include addborder(red, dashed);
    background-color: $white;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow-x: hidden;

    .Blog04Wrapper{
        @include pageWrapperMediumMargin();
        position: relative;
        width: 100%;
        //@include addborder(red);

        display: flex;
        flex-direction: column;

        .Blog04WrapperHead{
            //@include addborder(blue,dashed);
            display: flex;
            justify-content: center;
            .Blog04WrapperHeadWrapper{
                //@include addborder(red,dashed);
                position: relative;
                display: flex;
                flex-direction: column;
                width: 360px;

                .theTitle{
                    @include h1size();
                    margin-bottom: 15px;
                    color: $black;
                    @include responsiveMax(margin-top, 100px, 90px, 80px, 70px, 60px, 50px);
                }
                .theContent{
                    color: $grey;
                    line-height: 1.6em;
                    margin-bottom: 50px;
                }
            }
        }
        .Blog04WrapperBody{
            @include addborder(blue,dashed);
            position: relative;
            width: 100%;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 18%;

            .Blog04WrapperBodyItem{
                //@include addborder(green, dotted);
                position: inherit;
                padding: 16px 0px;

                text-align: left;
                //margin-bottom: 150px;
                margin-left: 10px;
                margin-right: 10px;

                @include responsiveMin(width, 320px, 350px, 400px, 430px, 490px);
                @include responsiveMax(width, 320px, 290px, 250px, 220px, 200px, 140px);

                @include responsiveMin(height, 380px, 410px, 480px, 560px, 659px);
                @include responsiveMax(height, 380px, 350px, 320px, 290px, 250px, 160px);
  
                .Blog04WrapperBodyItemPhoto{
                        position: inherit;
                        width: 100%;
                        height: 100%;

                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 20px;
                        background-size: cover;

                        margin-bottom: 30px;

                        .colorfulBT{
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            background-color: $white;

                            bottom: 20px;
                            right: 20px;

                            cursor: pointer;
                        }
                }
                .theTitle{
                    color: $black;
                    font-size: 1.16em;
                    line-height: 1.5em;
                    margin-bottom: 10px;
                }
                .theContent{
                    color: $grey;
                    line-height: 1.6em;
                }

                &:nth-of-type(1){
                    margin-left: 0px;
                    .colorfulBT{
                        background-color: $yellow;
                    }
                }

                &:nth-of-type(3){
                    margin-right: 0px;
                    .Blog04WrapperBodyItemPhoto{
                        background-position: 80% 50%;
                    }
                }

            }

            //...
        }
    }
}