@import '../global.scss';

.Portfolio07{
    @include addborder(red);
    //@include mediumPageSizeResponsiveMin(618px, 688px, 774px, 826px);
    //@include mediumPageSizeResponsiveMax(618px, 575px, 500px, 420px, 360px);

    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    
    .PortFolio07Head{
        @include addborder(blue);
        position: relative;
        @include pageWrapperMediumMargin(0px);
        margin-bottom: 30px;

        .PortFolio07HeadWrapper{
            position: inherit;
            .theTitle{
                font-size: 1.25em;
                line-height: 1.25em;
                font-weight: 600 !important;
                margin-bottom: 10px;
                color: $yellow;
                letter-spacing: 10px;
                z-index: 10;
                @include responsiveMax(letter-spacing,9px,8px,7px,6px);

            }
            .theDescs{
                @include h1size();
                color: $black;
                margin: 20px 0px;

                @include responsiveMax(margin-bottom, 30px, 50px, 70px, 90px, 110px);
                @include responsiveMin(margin-bottom, 30px, 50px, 70px, 90px, 110px);
                
            }
        }
    }
    .PortFolio07Body{
        @include addborder(red);
        position: relative;
        @include pageWrapperMediumMargin(0px);

        display: flex;
        flex-direction: row;
        

        .PortFolio07BodyLeft{
            @include addborder(grey);
            position: relative;
            width: 50%;

            .PortFolio07BodyLeftBox{
                position: relative;
                
                .bluecircle{
                    position: relative;
                    width: 400px;
                    height: 400px;
                    //border:1px solid red;
                    border-radius: 50%;
                    background-color: $blue;

                    @include addborder(red);

                    @include responsiveMin(width, 400px, 450px, 500px, 550px);
                    @include responsiveMin(height, 400px, 450px, 500px, 550px);

                    .phone01{
                        position: absolute;
                        width: 450px;
                        height: 450px;
    
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
    
                        left: -170px;
                        top: -70px;
                        pointer-events: none;

                        filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.36));

                        @include responsiveMin(width, 450px, 500px, 550px, 600px);
                        @include responsiveMin(height, 450px, 500px, 550px, 600px);
                    }
                    .phone02{
                        position: absolute;
                        width: 520px;
                        height: 520px;
    
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
    
                        right: -190px;
                        bottom: -150px;

                        pointer-events: none;
                        filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.5));

                        @include responsiveMin(width, 520px, 570px, 620px, 670px);
                        @include responsiveMin(height, 520px, 570px, 620px, 670px);

                        @include responsiveMin(right, -190px, -210px, -230px, -250px);
                        @include responsiveMin(bottom, -150px, -160px, -170px, -180px);
                    }
                }
               
            }
        }

        .PortFolio07BodyRight{
            @include addborder(grey);
            position: relative;
            width: 50%;

            box-sizing: border-box;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .PortFolio07BodyRightBox{
                @include addborder(blue);
                position: inherit;

                width: 80%;
                text-align: left;

                .PortFolio07BodyRightBoxHead{
                    position: relative;
                    margin-bottom: 50px;
                    .theTitle{
                        @include h2size();
                        margin-bottom: 20px;
                        color: $black;
                    }
                    .theDescs{
                        color: $grey;
                        line-height: 1.5em;
                    }
                }
                .PortFolio07BodyRightBoxBody{
                    position: relative;
                    display: flex;
                    .viewBt{
                        @include largeButton();
                    }
                }
            }
        }
    }
}