@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Libre Franklin', sans-serif;
}
