@import '../global.scss';

.Ecommerce08{
    @include addborder(blue);
    @include mediumPageSize();
    background-color: $lightgrey;
    padding-top: 80px;
    padding-bottom: 60px;
    position: relative;

    .Ecommerce08Wrapper{
        @include addborder(red);
        @include pageWrapperMediumMargin(0px);
        display: flex;
        flex-direction: row;
        position: relative;

        .Ecommerce08WrapperLeft{
            @include addborder(blue);
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .Ecommerce08WrapperLeftHead{
                @include addborder(grey, dashed);
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
                margin-top: 80px;

                .avatarGroup{
                    position: inherit;
                    @include addborder(grey,dashed);
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;
                    width: 70%;

                    .avatar{
                        position: relative;
                        width: 20px;
                        height: 20px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        margin-left: -60px;

                        .followerNo{
                            position: absolute;
                            background-color: $blue;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            right: -18px;
                            font-size: 0.86em;
                            color: $white;
                            pointer-events: none;
                        }
                    }
                    
                }
                .theTitle{
                    @include h1size();
                    position: relative;
                    width: 70%;
                    margin-bottom: 50px;
                }
                .theDescs{
                    position: relative;
                    width: 70%;
                    margin-bottom: 60px;
                }
                .cartGroup{
                    position: relative;
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .priceBt{
                        @include largeButton();
                    }
                    .thePrice{
                        color: $blue;
                        font-size: 1.2em;
                    }
                }
            }

            .Ecommerce08WrapperLeftFoot{
                position: relative;
                width: 70%;
                text-align: left;

                .goodsInfo{
                    position: relative;
                    width: 70%;
                    display: flex;
                    flex-direction: row;

                    .theBed{
                        position: relative;
                        width: 60px;
                        height: 60px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                    }
                    .theDescs{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .theName{
                            color: $black;
                            font-size: 1.16em;
                        }
                        .thePrice{
                            color: $grey;
                        }
                    }
                }
            }
        }

        .Ecommerce08WrapperRight{
            @include addborder(green);
            position: relative;
            width: 50%;

            .bigImage{
                position: relative;
                width: 100%;
                height: 600px;
                @include addborder(red);

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                border-radius: 30px;
            }
        }
    }
}