@import '../global.scss';

.Ecommerce08{
    //@include addborder(blue);
    //@include mediumPageSize();

    @include mediumPageSizeResponsiveMax(618px, 500px, 500px, 450px, 400px);
    @include mediumPageSizeResponsiveMin(618px, 650px, 700px, 750px);

    background-color: $lightgrey;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .Ecommerce08Wrapper{
        @include addborder(red);
        @include pageWrapperMediumMargin(0px);
        display: flex;
        flex-direction: row;
        position: relative;

        .Ecommerce08WrapperLeft{
            @include addborder(blue);
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .Ecommerce08WrapperLeftHead{
                @include addborder(grey, dashed);
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;

                @include responsiveMax(margin-top, 60px, 55px, 50px, 45px, 40px );
               // @include responsiveMin(margin-top, 60px, 55px, 50px, 45px, 40px );

                .avatarGroup{
                    position: inherit;
                    @include addborder(grey,dashed);
                    display: flex;
                    justify-content: center;
                    margin-bottom: 5%;
                    width: 70%;

                    .avatar{
                        position: relative;
                        width: 20px;
                        height: 20px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        margin-left: -60px;

                        .followerNo{
                            position: absolute;
                            background-color: $blue;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            right: -18px;
                            font-size: 0.86em;
                            color: $white;
                            pointer-events: none;
                        }
                    }
                    
                }
                .theTitle{
                    @include h1size();
                    position: relative;
                    width: 70%;
                    margin-bottom: 8%;
                }
                .theDescs{
                    position: relative;
                    width: 70%;
                    margin-bottom: 8%;
                    line-height: 1.36em;
                }
                .cartGroup{
                    position: relative;
                    width: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .priceBt{
                        @include largeButton();
                    }
                    .thePrice{
                        color: $blue;
                        font-size: 1.2em;
                    }
                }
            }

            .Ecommerce08WrapperLeftFoot{
                position: relative;
                width: 70%;
                text-align: left;

                .goodsInfo{
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;

                    .theBed{
                        position: relative;
                        width: 60px;
                        height: 60px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                    }
                    .theDescs{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .theName{
                            color: $black;
                            font-size: 0.96em;
                        }
                        .thePrice{
                            color: $grey;
                            font-size: 0.96em;
                        }
                    }
                }
            }
        }

        .Ecommerce08WrapperRight{
            @include addborder(green);
            position: relative;
            width: 50%;

            .bigImage{
                position: relative;
                width: 100%;
                @include responsiveMax(height, 600px, 550px, 500px, 450px, 400px, 350px);
                @include responsiveMin(height, 600px, 650px, 700px, 750px, 800px);

                @include addborder(red);

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                border-radius: 30px;
            }
        }
    }
}